#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}

.project_name{
  color: white
}

.mainComponent {
  margin: 5px;
  width: 1000px;
  height: 200px;
  min-width: 400px;
  min-height: 200px;
  background-color: #d7d7d7;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

/* .constantView {
  margin: 5px;
  width: 20%;
  height: 95%;
  background-color: #f8f8f8;
}

.tabs {
  margin: 5px;
  width: 80%;
  height: 95%;
  background-color: #f8f8f8;
} */
