.fixed-card {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow: auto; 
    font-size: 0.65rem; 
    font-weight: 700;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1px;
}

.fields-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
}

.field {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    width: 50%; 
}

.field label {
    margin-right: 2px;
    flex: 1;
    min-width: 80px;
}

.field input {
    flex: 1;
    padding: 1px;
    box-sizing: border-box;
    max-width: 80px;
}