.main-component {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  background-color: #d7d7d7;
  /* padding: 10px; */
  display: flex;
  box-sizing: border-box;
  position: absolute;
  /* margin-left: 20px ; */
}

.constantView {
  margin: 1%;
  width: 20%;
  height: 90%;
  background-color: #f8f8f800;
  box-sizing: border-box;
  border-radius: 10px;
}

.tabs {
  margin: 1%;
  width: 75%;
  height: 90%;
  background-color: #444444;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}